#### Librerías a instalar en el SO ####
## GNU/Linux
# sudo apt update && sudo apt install ffmpeg
## Mac
# brew install ffmpeg

#### Librerias a instalar con pip ####
# pip install git+https://github.com/openai/whisper.git
pyaudio
SpeechRecognition
pyttsx3
pydub
pywhatkit
fakeyou
pygame
python-dotenv
langchain
openai
notion-client
#pyobjc # Solo es necesario en Mac