# pip install git+https://github.com/openai/whisper.git
# sudo apt update && sudo apt install ffmpeg
# brew install ffmpeg
pyaudio
SpeechRecognition
pyttsx3
pydub
pywhatkit
fakeyou
pygame
#pyobjc # Solo es necesario en Mac